/*
number of results
TODO
- Turn all links to teal
- Make text bigger
- Add minimal shadows
- Make big fat search button
- Move language selector to base
- 
-
LATER
- Media Queries for ipad
- 
-


*/


html, body, div, p, h1, h2 {font-family: "Raleway", "century gothic", "Lucida Sans", sans-serif; color: rgba(10,10,10,0.87),#a11;}
body {background-color: #fff;}

/*h1, h2, h3 {font-weight: bold; color: #087;}*/
sup {font-weight: normal;}

html, body, div, p  {font-size: 12px;}
h1 {font-size: 20px; margin-top: 30px;}
h2 {font-size: 16px; clear: left;}
h3 {font-size: 14px; clear: left;}

#sidebar {font-size: 10px; text-align: right; display: flex; padding: 0px 10px; 
    float: right; margin-left: 15px; margin-right: 0px;}
#sidebar p {margin-top: 0px; font-size: 10px;}
#sidebar img {display: inline-block; float: none; padding-right: 0px;}
#pole p {font-size: 14px;}
#pole, #mainline, #json, #http, #sidebar, #error, #paging1, #paging2 
    {display: none;}

#term {width: 820px;height:50px;border-radius:5px;}
#logo {padding: 15px; float: right;}
#query {float: left;}

img {vertical-align: top; float: left; margin-right: 10px; margin-bottom: 10px;}
p.images img {float: none;}
p.relatedSearches {clear: none;}
#logo p, p.news, p.webPages, p.images {clear: left;}

a[href="#"]:link {color: #008080 !important}
a[href="#"]:visited {color: #00ff00;}

h3 a:visited {color: #080 !important;}
a{color:#330033;} 

#logo{ position:relative; right: 0px; }
#query{
  margin-left:21%;
  margin-top:1%;
}
#error{
  margin-left:32%;
}
#paging1{
  margin-left:32%;
}
#_noresults{
  /*margin-left:20%;*/
  font-size: 4.5em;
  text-align:center;
  color: rgba(10,10,10,0.87);
  margin-left: 10%;
  
}
#mainline{
	margin-left:20%;
}

/*search button implementation*/



.images{
	display:none;
}
/* input searchbar default style */
.form-control{

  border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.9s cubic-bezier(.25,.8,.25,1);
}

/* input searchbox hover */
.form-control:hover {
  box-shadow: 0 1px 0px rgba(0,80,126,0.7), 0 1px 0px rgba(0,80,128,0.7);
}

/* fontawesome search icon */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */

.right-addon .fa{ right: 0px;top:3px;}

/* add padding  */

.right-addon input { padding-right: 30px; }
/* margin for checkout boxes */
.custom-control{
	/*margin-left:25px;*/
}
/* margin for safesearch */
#safe{
	margin-left:25px;
	margin-top: 2%
}
/* adding container for each search item */
.webPages{
	
	/*border: 1px solid rgba(12,99,200,1);*/
	width:80%;
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
  font-size: 1.5em;
  
}
/* onhover webpage container item */
/*.webPages:hover{*/
/*	box-shadow: 0 1px 1px #222, 0 1px 1px #333;*/
/*}*/
/* class for related searches at bottom */
.related{

}
/* adding margin for paging info */
#paging2{
	margin-top:1%;
  margin-left:32%;
}
/* adding margin for prev/next */
.prev{
	/*margin-left:3%;*/
}
#json{
  visibility:hidden;
}
#http{
 visibility:hidden;
}

.kalki-main {
  position: relative;
  font-size: 152px;
  margin-left:25%;
 
}


.kalki-k {
  color:rgba(0,102,102);
}

.kalki-a {
  color:rgba(0,128,128);
 
}

.kalki-l {
  color:rgba(102,178,178);
}

.kalki-second-k {
  color:rgba(178,216,216);
}

.kalki-i {
color:rgba(178,216,216);
}


input[type="text"]
{
    font-size:24px;
}
/*url element of the search result*/
.top-right-link{
  color:rgba(0, 137, 123, 1);
  
}

/*container of just the text part of the search*/
.text-content{
   margin-left:2%;
  font-size:1.5em;
  margin-top: -2%
}
/*total container of each search result*/
.searchresult{
  /*font-size:0*/
  margin-top:1%;
}
/*container for all the links on the first element of search result*/
.base-link{
  
  
}
.news-container{
  
}
.main-url{
  color:rgba(15,62,15,0.9);
  font-size:20px;
}

.main-url:hover{
  color:rgba(72,109,136,0.9);
}

.main-url:visited{
  color:rgba(13,40,213,0.9);
}
.number-of-results
/* how many results your search returned */{
  font-size:1.7em;
  font-style: normal !important;
}
.news-main-url{
  font-size:1.5em;
  position:relative;
  margin-top:3%;
}
.news-image{
  width:5%;
  
}
.news-main-text{
  font-size:1.3em;
}
.news-category{
  font-size:15px;
}



.knockout {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-226589.jpeg) 5% 5%;
 position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  position: relative;
  font-size: 202px;
  margin-left:32%;
  font-family: "century gothic";
  width: 600px;
  margin-top: 70px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(60,1,60,0.3);
 
}

.btn {
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-226589.jpeg) 1% 1%;
    background-color: rgba(2,2,2,0.85);
    color: white;
     margin-left:20%;
  width:63%;
  height: 90%;
  cursor:pointer;
    box-shadow: 1px 1px 1px rgba(1,1,1,0.7);
}

.btn:hover {
	background-color: rgba(1,1,50,0.9);
  /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/rsz_1fire-swirling-acrobat-800-600.jpg) 50% 50%;*/
}

.kalki-faq-link {
  text-decoration: none;
}

.kalki-faq-link:hover {
  text-decoration: none;
}

@media only screen and (max-device-width: 1200px) {
    .container {
      /*background: red;*/
        margin-left:-5%;
         /*border: 5px solid red;*/
    }
    #_mainline{
      margin-left:24%;
    }
    #_noresults{
       margin-left:36%;
    }
}


.ks-widget {
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 20;
  transition: transform .3s ease-in-out;
  transform: translate(-85%, 0);
}
.ks-widget .toggle {
  color: #fff;
  display: block;
  right: 0;
  padding: 0.8em 0.2em;
  position: absolute;
  transition: transform .3s ease;
  transform: rotate(0, 0);
  width: 1.5rem;
  text-align: center;
  text-decoration: none;
  top: 0;
}
.ks-widget .toggle:hover {
  transform: scale(1.5);
}
.ks-widget.open {
  transform: translate(-4px, 0);
}
.ks-widget.open .toggle {
  transform: rotate(180deg);
}
.ks-widget.open .toggle:hover {
  transform: rotate(180deg) scale(1.5);
}
    
/*.featured-project {*/
/*  border-radius: 10px;*/
/*  height: 200px;*/
/*  width: 200px;*/
/*  float:left*/
/*}*/

/*Box shadow effects (we used number 5): https://codepen.io/haibnu/pen/FxGsI */

.embedded-project-div {
  position:relative;
}

a img {
  border-radius: 10px;
  height: 180px;
  width: 180px;
  float: left;
  position: relative;
  box-shadow: 1px 1px 2px rgba(20,20,20,0.8);
  display: block;
}

.embedded-project-title
{
  width: 120px;
  text-align: center;
  margin-left: 2.5%;
}

